*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
   
}
.navbar{
    
    background-color: #FFF;
    padding: 10px;
    height: 100%;
    
}
.nav-items{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
.nav-items li{
    list-style-type: none;
     /* margin-top: 10px; */
    padding: 20px; 
    
}
.nav-items a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.sec-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.first{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("images/bgimg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.boite-texte p{
    color: #fff;
}
.boite-texte{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #605555;
    background-color: #605555;
    width: ;
    height: 70px;
    padding: 10px;
    
}
img{
    
}
.text-first p{
    color: #FFF;
    text-align: center;
}
.text-first p{
   text-align: center;
}
.sec-two{
    display: flex;
    background-color: #E5E5E5;
}
.logo{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 50px;
   
}
.logo h1{
    padding: 20px;
}
.logo p{
    text-align: center;
}
.image{
    border: 1px solid #369E8A;
    width: 200px;
    height:200px;
    border-radius: 50%;
    
}
.image img{
    position: relative;
    top: 40%;
    left: 40%;
    
}
.log-pro img{
    width: 50px;
}
.log-design img{
    width: 50px;
}
.log-marketing img{
    width: 50px;
}

.three{
    background-color: #C4C4C4;
    width: 100%;
}
.three h1{
    padding: 20px;
}
.sec-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 0px;
}
.sec-three div{
    width: 100%;
}
.logo-canva img{
    width: 100%;
    height: 100%;
}
.sec-three img{
    width: 100%;
}
.logo-three img{
    width: 100%;
}
.div-three{
    display: flex;
    justify-content: center;
    padding: 50px;
    
}
.item-three{
    padding: 20px;
}
.three h1{
    text-align: center;
    
}
.sec-three div{
    /* width: 100%; */
}  
.four{
    background-color: #fff;
    padding: 80px;
}
#h{
    text-align: center;
    padding: 10px;
}
#p{
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.row p{
    color: black;
}
.text{
    display: flex;
    justify-content: space-between;
    
}
.trait1{
    background-color: #A5C0AD;
    /* border: 1px solid #A5C0AD; */
    height: 5px;
    width: 100%;    
    border-radius: 5px;
}
.trait-90{
    background-color: red;
    /* border: 1px solid red; */
    height: 5px;
    width: 80%; 
    border-radius:5px ;
}
.trait-80{
    background-color: magenta;
    /* border: 1px solid red; */
    height: 5px;
    width: 90%; 
    border-radius: 5px;
}
.trait-70{
    background-color: green;
    /* border: 1px solid red; */
    height: 5px;
    width: 90%; 
    margin-top: 26px;
    border-radius: 5px;
}
.trait2{
    background-color:#A5C0AD ;
    border: 1px solid #A5C0AD;
    height: 5px;
    width:100%;
}
.row>div{
    width: 100%;
    margin-top: 20px;
}
/* .trait3{
   background-color: #FFF;
    border: 1px solid #A5C0AD;
    height: 5px;
    width: 10%;
} */



.five{
    background-color: #A5C0AD;
    padding: 30px;
}
.team{
    display: flex;
    flex-direction: column;
    
}
.team p{
    color: #fff;
    text-align: center;
    
}
.team h1{
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}
.avatar{
    display: flex;
    gap: 30px;
    padding: 30px;
}
.six{
    background-color:#fff;
    padding: 30px;
}

.sec-six{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.gras{
    font-weight: bold;
}
#last{
    background-color: #C4C4C4;
    padding: 20px;
}
#last h1{
    text-align: center;
    margin-bottom: 20px;
}
.div{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    line-height: 1.5;
    gap: 50px;
    padding: 30px;
    
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.copyrite p{
    padding: 50px;
}
